<h1>New Question</h1>
<div>
  <form>
    <div class="form-group">
      <label for="author">Name:</label>
      {{input class="form-control" value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="query">Question you would like to ask:</label>
      {{input class="form-control" value=query id="query"}}
    </div>
    <div class="form-group">
      <label for="notes">Anything else you would like to share?</label>
      {{textarea class="form-control" value=notes id="notes"}}
    </div>
    <button class="btn btn-success" {{action 'saveQuestion'}}>Ask</button>
  </form>
</div>
