<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Question: {{question.query}}</h3> <p> Asked by {{question.author}}</p>
  </div>
  <div class="panel-body">
    Notes: {{question.notes}}
  </div>
</div>
