<div class="panel panel-default">
  {{#link-to 'question' question.id}}
    <div class="panel-heading">
      <h2 class="questionHeading">Question: {{question.query}}</h2> <p> Asked by {{question.author}}</p>
    </div>
  {{/link-to}}
</div>
