<h3>Ask us anything tech related!</h3>

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}


<h1>answer test</h1>

{{#each model.answers as |answer|}}
<p>{{answer.name}} said, {{answer.response}}</p>
{{/each}}
